-e git+https://github.com/jdum/odfdo.git#3.0.1#egg=odfdo
toml
yattag
aiken
pdf-shuffle
spacy
spacy-lookups-data
lark-parser
# python -m spacy download en_core_web_sm
# python -m spacy download fr_core_news_sm
